<div class="container">
  <div class="title">
    <h2>予定一覧</h2>
    <div class="new_schedule">
      <%= link_to "新規追加", new_schedule_path %>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>終日</th>
        <th>更新日時</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody class="index_tbody">
      <% @schedules.each do |schedule|%>
        <tr>
          <td>
            <%= schedule.id %>
          </td>
          <td>
            <%= schedule.title %>
          </td>
          <td>
            2023/02/03
          </td>
          <td>
            2023/02/11
          </td>
          <td>
            <strong><%= schedule.is_all_day? %></strong>
          </td>
          <td>
            <%= I18n.l(schedule.updated_at, format: :default) %>
          </td>
          <td>
            <%= link_to "詳細", schedule_path(schedule) %>
          </td>
          <td>
            <a href="#">編集</a>
          </td>
          <td>
            <a href="#">削除</a>
          </td>
        </tr>
      <% end %>
      <tr>
        <% if Schedule.count == 0 %>
          <td colspan=9>現在登録しているスケジュールはありません。</td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <footer>
    <div class="footer-content">
      <p class="body-count">予定の合計<%= Schedule.count %>件</p>
      <p class="datetime"><%= Date.current.strftime('%Y/%m/%d') %></p>
    </div>
  </footer>
</div>